.map-container {
  display: flex;
  justify-content: flex-start;
  width: calc(98% - 225px);
  height: auto;
  margin-left: 230px;
  margin-top: 60px; 
  position: absolute;
  z-index: 1;
}

.new-semester {
  background-color: #f0f0f0;
  width: 108px;
  /* margin-right: 20px; */
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#plus {
  font-size: 1.8rem;
  color: #333;  
}
