.map-container {
  display: flex;
  justify-content: flex-start;
  width: calc(98% - 225px);
  height: auto;
  margin-left: 230px;
  margin-top: 60px; 
  position: absolute;
  z-index: 1;
}

.controls {
  display: flex;
  justify-content: flex-start;
  width: calc(98% - 225px);
  height: 35px;
  margin-left: 230px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: rgb(224, 224, 224);
  border: 1px solid rgba(96, 96, 96, 0.388);
  position: fixed;
  z-index: 999;
}

.controls-list {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.control-item {
  margin-right: 10px;
}

.control-item button {
  font-size: 1rem;
  background: none;
  border: none;
  color: darkgray;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.control-item button:hover {
  color: rgb(96, 96, 96);
}

.control-icon {
  margin-left: 5px;
}

.new-semester {
  background-color: #f0f0f0;
  width: 108px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#plus {
  font-size: 1.8rem;
  color: #333;  
}
