.semester {
    background-color: #f0f0f0;
    width: 108px;
    margin: 0 18px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    z-index: 10;
  }
  
  
  .semester-head {
    height: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: rgb(96, 96, 96);
  }
  
  .sem-label-container {
    font-size: 0.585rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    width: 100%;
  }
  
  .sem-name {
    margin-top: 0px;
    font-size: 0.675rem;
  }
  
  .delete-semester {
    cursor: pointer;
    width: 12.6px;
    height: 12.6px;
    opacity: 30%;
    display: inline-block;
    vertical-align: middle;
  }
  
  .add-class-button {
    font-size: 0.9rem;
    cursor: pointer;
    color: #333;
    height: 50px;
    width: 80px;
    border: 1px dashed grey;
    margin: 13.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
    box-sizing: border-box;
  }
  
  .semester-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
  }
  
  .credit-hours-sum {
    font-weight: bold;
  }
  
  .footer-box {
    min-height: 20px;
    width: 80px;
    background-color: rgb(224, 224, 224);
    border: 1px solid rgba(96, 96, 96, 0.388);
    margin-bottom: 10px;
    text-align: center;
    padding-top: 2px;
  }
  