.semester {
  background-color: #f0f0f0;
  width: 108px;
  margin-right: 36px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  z-index: 1; /* Ensure semesters have lower z-index */
}

.semester-head {
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  color: rgb(96, 96, 96);
}

.sem-label-container {
  font-size: 0.585rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  width: 100%;
}

.sem-name {
  margin-top: 0px;
  font-size: 0.675rem;
}

.delete-semester {
  cursor: pointer;
  width: 12.6px;
  height: 12.6px;
  opacity: 30%;
  display: inline-block;
  vertical-align: middle;
}

.add-class-button {
  font-size: 0.9rem;
  cursor: pointer;
  color: #333;
  height: 50px;
  width: 80px;
  border: 1px dashed grey;
  margin: 13.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  box-sizing: border-box;
}

.add-class-button:hover {
  background-color: rgba(255, 166, 0, 0.5);
}

.semester-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  /* position: relative; */
}

.credit-hours-sum {
  font-weight: bold;
}

.footer-box {
  min-height: 20px;
  width: 80px;
  background-color: rgb(224, 224, 224);
  border: 1px solid rgba(96, 96, 96, 0.388);
  margin-bottom: 12px;
  text-align: center;
  padding-top: 2px;
  position: absolute;
  bottom: 0;
}

.add-class-modal {
  display: flex;
  position: fixed;
  z-index: 2000; /* High z-index for modal */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
}

.add-class-modal-content {
  background-color: #fefefe;
  color: black;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  min-height: 330px;
  max-height: 300px;
  max-width: 400px; 
  border-radius: 5px;
  /* font-size: 1rem; */
}

.add-class-modal-content h2 {
  font-size: 1.2rem;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

input[type="number"],
input[type="text"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.add-class-btn {
  background-color: darkgreen;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  float: right;
}

.add-class-btn:hover {
  background-color: green;
}

.error {
  color: red;
  font-size: 0.8rem;
}
